<div class="custom-pagging float-end">
    <ul class="pagination pagination-sm custom-pagging">
      <li class="page-item  d-flex align-items-center ">
        <a class="page-link border-0 align-self-center" href="#" aria-label="Previous">
          <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
        </a>
      </li>
      <li class="page-item"><a (click)="isSelected(1)"
        class="m-1"
         [ngClass]="idSelected == 1 ? 'page-link border-0 rounded-circle bg-secondary text-white m-1' : 'page-link border-0 rounded-circle text-secondary'"
          href="#">1</a></li>
      <li class="page-item d-flex align-items-center"><a 
        (click)="isSelected(2)" 
        class="m-1"
        [ngClass]="idSelected == 2 ? 'page-link border-0 rounded-circle bg-secondary text-white m-1' : 'page-link border-0 rounded-circle text-secondary'"
        href="#">2</a></li>
      <li class="page-item d-flex align-items-center"><a 
        (click)="isSelected(3)" 
        class="m-1"
        [ngClass]="idSelected == 3 ? 'page-link border-0 rounded-circle bg-secondary text-white m-1' : 'page-link border-0 rounded-circle text-secondary'"
        href="#">3</a></li>
      <li class="page-item d-flex align-items-center">
        <a class="page-link border-0" href="#" aria-label="Next">
          <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
        </a>
      </li>
    </ul>
</div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center align-middle" scope="">Name</th>
        <th class="text-center align-middle" scope="col">Company</th>
        <th class="text-center align-middle" scope="col">Area</th>
        <th class="text-center align-middle" scope="col">ID</th>
        <th class="text-center align-middle" scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of dataEmployee">
        <td class="custom-th align-middle" >{{employee.name}}</td>
        <td class="custom-th align-middle">{{employee.nameCompany}}</td>
        <td class="custom-th align-middle">{{employee.area}}</td>
        <td class="custom-th align-middle">{{employee.id}}</td>
        <td class="custom-th align-middle" ></td>
      </tr>
    </tbody>
  </table>
