<!-- FILEPATH: /D:/Project/man2/src/app/fillter/fillter.component.html -->
<div class="custom-bg p-3">
    <form>
        <label class="m-2" for="">Fillter</label><br>
        <div class="w-50 d-flex align-items-center text-start btn bg-white  border-white border-1.5 rounded-0 shadow-sm" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true"
            aria-controls="collapseExample">
            <span class="align-self-center">Click me</span>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="card-body">
                <div class="form-check checkbox">
                    <input class="form-check-input rounded-0" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                    </label>
                </div>
            </div>
        </div>
        <label class="m-2" for="">Fillter</label><br>
        <input class="w-50 btn bg-white text-start border-white border-1.5 rounded-0 shadow-sm " type="text">
        <br>

        <label class="m-2" for="">Fillter</label><br>
        <div class="w-50 d-flex text-start btn bg-white  border-white border-1.5 rounded-0 shadow-sm" type="button"
             data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="true"
            aria-controls="collapseExample1">
            <span class="align-self-center">Click me</span>
        </div>

        <div class="collapse" id="collapseExample1">
            <div class="card-body w-50 bg-white p-2">
                <div class="form-check checkbox ">
                    <input style="width: 20px;height: 20px;" class="form-check-input rounded-0" type="checkbox" value=""
                        id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox1
                    </label>
                </div>
            </div>
        </div>
        <button class="btn border-dark rounded-0 custom-submit ">click me2</button>
    </form>
</div>